.content{
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
h3{
    font-size: 3vh;
  }
/* backgorund */
body{
    color: aliceblue;
    background: linear-gradient(-45deg, #640491, #047aa5, #640491,#047aa5,#8d0292);
    background-size: 400% 1000%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
25% {
        background-position: 0% 25%;
    }
    50% {
        background-position: 100% 50%;
    }
75% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}