@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap');
body{
    width: 100%;
    height: 100vh;
    background: #5372F0;
    font-family: 'Fredoka', sans-serif;
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0%;
    padding-top: 0%;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../images/gaming_home2.jpg);    /* https://blog.graana.com/lifestyle/how-to-make-use-of-your-basement/ */
    background-position: center top;
    background-size:cover;
}
/* home-title */
.main-header{
    color: rgba(0, 41, 117, 0.7);
    text-shadow:
    0 0 7px rgba(255, 255, 255, 0.7),
    0 0 10px rgba(255, 255, 255, 0.7),
    0 0 21px rgba(255, 255, 255, 0.7),
    0 0 42px rgb(72, 86, 216),
    0 0 82px rgb(72, 86, 216),
    0 0 92px rgb(72, 86, 216),
    0 0 102px rgb(72, 86, 216),
    0 0 151px rgb(72, 86, 216);
}
.title-style{
    cursor:default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
h1 {
    animation: pulsate 2.5s infinite alternate;
}
h1{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 8vh;
    font-family: 'Press Start 2P', cursive;
  }
.bigger{
    font-size: 10vh;
}
.pulsate{
    animation: pulsate 1.5s infinite alternate;
}
@keyframes pulsate{
    100% {
        text-shadow:
        0 0 4px rgba(255, 255, 255, 0.7),
        0 0 11px rgba(255, 255, 255, 0.7),
        0 0 19px rgba(255, 255, 255, 0.7),
        0 0 40px rgb(72, 86, 216),
        0 0 80px rgb(72, 86, 216),
        0 0 90px rgb(72, 86, 216),
        0 0 100px rgb(72, 86, 216),
        0 0 150px rgb(72, 86, 216);
    }
    0% {
      text-shadow:
      0 0 2px rgba(255, 255, 255, 0.7),
      0 0 4px rgba(255, 255, 255, 0.7),
      0 0 6px rgba(255, 255, 255, 0.7),
      0 0 10px rgb(72, 86, 216),
      0 0 45px rgb(72, 86, 216),
      0 0 55px rgb(72, 86, 216),
      0 0 70px rgb(72, 86, 216),
      0 0 80px rgb(72, 86, 216);
  } 
}
/* button */
a,a:hover, a:active{
  text-decoration: none;
  color: #FFFFFF;
}
.main-header{
  color: aliceblue;
  order: 0;
  align-items: center;
}
.startb {
align-items: center;
background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
border: 0;
border-radius: 8px;
box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
box-sizing: border-box;
display: flex;
font-size: 20px;
justify-content: center;
line-height: 1em;
max-width: 100%;
min-width: 140px;
padding: 3px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
margin-top: 10vh;
}
.startb:active,
.startb:hover {
outline: 0;
}
.startb span {
background-color: rgb(5, 6, 45);
padding: 16px 24px;
border-radius: 6px;
width: 100%;
height: 100%;
transition: 300ms;
}
.startb:hover span {
background: none;
}
@media (min-width: 768px) {
.startb {
  font-size: 24px;
  min-width: 196px;
}
}
@media (max-width: 768px) {
    h1{
        font-weight: 100;
        font-size: 2vh;
        justify-content: center;
    }
    .bigger{
        font-size: 7vh;
        justify-content: center;
    }
}