* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	line-height: 1.2;
}

/* required for sticky footer */

html, body {
	height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* end required for sticky footer */

.footer {
	background: rgba(255, 255, 255, 0.178);
	color: rgb(0, 0, 0);
}
